.app {
  height: 100vh;
  display: flex;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}


.app-link {
  color: #61dafb;
}

.app-container {
  height: auto;
  width:fit-content;
  margin:auto;
  display:flex;
  flex-flow:column;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,.15);
}
.app-container .MuiCollapse-root {
  width:440px;
}
.app-container .tab-panel {
  max-height: 400px;
  overflow-y:auto;
  overflow-x:hidden;
}
.todo-list-container {

}
.todo-list-inputs {
  display: flex !important;
  flex-flow: column;
  margin-top:24px;
}
.todo-list-inputs .todo-input {
  margin: 16px 0;
}
.todo-list-inputs .todo-input input {
  text-align: center;
}
.todo-list-inputs .todo-button {
  max-width: 40px;
  margin:8px auto;
}

.parallax-container {
  display:flex;
  width:100%;
}
.parallax-child {
  display:flex;
  margin:auto;
}
.layer-1,.layer-2,.layer-3 {
  position: absolute;
  box-shadow: 0 0 12px rgba(0,0,0,.15);
  border-radius: 50%;
}
.layer-1 {
  width:45px;
  height: 45px;
  left:-350px;
  bottom:200px;
}
.layer-2 {
  width:180px;
  height: 180px;
  left:-250px;
  bottom:50px;
}
.layer-3 {
  width:55px;
  height: 55px;
  left:-150px;
  bottom:400px;
}

.tab-panel {
  padding: 16px 0 !important;
}
.task-list-item .task-text span {
  font-family: Arial;
  font-size:18px;
  font-weight: 500;
  margin:0 16px 0 0;
  overflow:hidden;
}
.task-list-item .task-text.done span {
  color:gray;
}
.MuiTooltip-tooltip {
  font-size:16px !important;
  padding: 16px !important;
}
.MuiListItemButton-root {
  padding:0 !important;
}
.no-tasks {
  text-align: center;
  color:gray;
}
.edit-icon, .delete-icon {
  margin-left:16px;
  width:20px;
  height:20px;
  cursor:pointer;
  transition: .3s;
}
.delete-icon {
  width:22px;
  height: 22px;
}

.edit-icon:hover, .delete-icon:hover {
  opacity:.7;
}


@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display:none;
  height: 20%;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.watermark {
  color:white;
  position: absolute;
  top:30px;
  left:30px;
  width:400px;
  text-shadow: 0px 0px 12px rgba(0,0,0,.9);
}
.wave {
  position: absolute;
  left: 0;
  width: 300%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgba(253,29,29,1);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(253,29,29,.6);
}

@media (max-width:576px) {
  .layer-1,.layer-2,.layer-3 {
    display: none;
  }
  .todo-list-inputs {
    margin: auto auto 0 auto;
  }
  .parallax-child {
    transform: unset !important;
  }
  .app-container .MuiCollapse-root {
    width:100%;
  }
  .waveWrapper {
    display: block;
  }
  .watermark {
    display: none;
  }
}
